header.inline .genus {
    font-weight: bold;
}

.slug {
    color: gray !important;
}

.breadcrumbs {
    font-size: small;
    margin-bottom: 1.5em;
}

.proof-list {
    font-style: italic;
    color: #676;
}

@import "collapsible";
